PORT=8000
MYSQL_ADDRESS=root:root@tcp(localhost:3306)/movies?charset=utf8mb4&parseTime=True&loc=Local
JWT_SECRET=change-me-to-a-strong-random-secret
JWT_AUDIENCE=movie-reservation-api
JWT_ISSUER=movie-reservation
REFRESH_TOKEN_SECRET=change-me-to-a-different-strong-secret
APP_ENV=development
HostName=0.0.0.0
PROTOCOL=http
FILEBASEPATH=BASEFILE ## URL TO THE BASE FILE DIR IF USING FILE SERVICE
BUCKETNAME=name ## this is the name of the base folder if files service and bucket name if you use S3
AWS_ACCESS_KEY=KEY ## S3 Access key
AWS_SECRET_KEY=Secret ## S3 Secret key
AWS_URL=URL ## THIS IS Garage (s3) URL 